.currentMonthContainer {
  background: #f5f5f5;
  padding: 75px 65px 115px 55px;
  text-align: center;
  min-width: 50%;
}

.monthAndYearTitle {
  margin-bottom: 50px;
  font-size: 30px;
  color: #009991;
  font-weight: 600;
  text-transform: uppercase;
}
