.dayOfWeekAndDayOfMonth {
  min-width: 500px;
  background-color: #38cec4;
  padding: 50px;
  color: white;
}
.dayOfWeek {
  font-size: 50px;
  margin-bottom: 60px;
  font-weight: normal;
}
.dayOfTheMonth {
  font-size: 300px;
}
