.currentDayContainer {
  background: #38cec4;
  padding: 75px 0 145px;
  text-align: center;
  min-width: 50%;
}

.dayOfWeekTitle {
  margin-bottom: 115px;
  font-size: 30px;
  color: #ffffff;
  text-transform: uppercase;
}

.date {
  font-size: 230px;
  color: #ffffff;
}
